<!DOCTYPE html>
<html>
<head>
  <% include ../partials/header.ejs %>
</head>

<body>

  <% include ../partials/nav.ejs %>

<div class="jumbotron text-center">
  <div class="container">
    <a href="/" class="lang-logo">
      <img src="/lang-logo.png">
    </a>
    <h1>Hi from Susi!</h1>
    <a type="button" class="btn btn-lg btn-primary" href="https://github.com/Manveer695/hello-world"><span class="glyphicon glyphicon-download"></span> Source on GitHub</a>
  </div>
</div>
    
</body>
</html>
